<html>

<body>
<table width="550" border="1">
  <tr>
    <th id="id">代號</th>
    <th id="name">名稱</th>
    <th id="rarity">稀有度</th>
    <th id="score">評分</th>
    <th id="ability">能力</th>
    <th id="position">定位</th>
  </tr>
  <tr align="center">
    <td headers="id"> <%= data.id %> </td>
    <td headers="name"> <%= data.name %> </td>
    <td headers="rarity"> <%= data.rarity %> </td>
    <td headers="score"> <%= data.score %> </td>
    <td headers="ability"> <%= data.ability %> </td>
    <td headers="position"> <%= data.position %> </td>
  </tr>
    
</table>

</body>>
</html>